@use "../abstracts" as a;

.footer {
  @include a.flex-between;
  gap: a.$spacing-xl;
  padding-inline: a.$spacing-2xl;

  &__btn {
    &-left,
    &-right {
      @include a.flex-center;
	  width: 100%;
      font-family: a.$font-family-primary;
      font-size: a.$font-size-lg;
      font-weight: a.$font-weight-semibold;
      line-height: 1.5rem;
      color: a.$color-text-primary;
      margin: 0;
      gap: a.$spacing-md;
	  border-radius: a.$border-radius-md;
      padding: a.$spacing-sm;
      background-color: transparent;

      &:hover {
        cursor: pointer;
        background-color: buttonface;
      }

      & i {
        font-size: 1.5rem;
      }
    }
  }
}
