package templates

import "github.com/Tonnie-Exelero/go-ms-kit/graph"

templ Home(courses *[]graph.CourseView) {
	@App("Micro Frontend Service") {
		@Cards(courses)

		<div id="mf-modal" part="mf-modal" class="mf-modal"></div>
	}
}