package templates

import "github.com/Tonnie-Exelero/go-ms-kit/graph"

templ Modal(course *graph.CourseView, groups *[]ModuleGroup, iframeUrl string) {
	<div class="mf-modal__overlay" hx-target="this" hx-swap="outerHTML">
		<div class="mf-modal__content">
			<button class="mf-modal__close mf-has-url" hx-get="/close-modal">
				<i class="fa-solid fa-xmark"></i>
			</button>
			
			@Detail(course, groups, iframeUrl)
		</div>
	</div>
}
